<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div id="wrapper">
    <%= render partial: "navbar" %>
    <%= render partial: "header" %>
    <%= render partial: "about" %>
    <%= render partial: "action" %>
    <%= render partial: "products" %>
    <%= render partial: "contact" %>
  </div>
</body>
