<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div id="wrapper">
    <%= render partial: "navbar" %>
    <%= render partial: "header" %>
    <%= render partial: "about" %>

    <aside class="bg-parallax-dark nopadding" style="background-image: url();" data-stellar-background-ratio="0.5">
    <div class="aside-overlay">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Comfort, delivered to your doorstep!</h2>
            <hr class="light">
            <p></p>
            <a href="#" class="btn btn-outline btn-light btn-lg btn-square">Buy!</a>
          </div>
        </div>
      </div>
    </div>
    </aside>

    <%= render partial: "products" %>
    <%= render partial: "contact" %>
  </div>
</body>
